[Unit]
Description=MCServ

Wants=network.target
After=network.target

[Service]
WorkingDirectory=/opt/mine
ExecStart=/usr/bin/java -Xmx512M -Xms32M -jar mineserver.jar nogui

[Install]
WantedBy=multi-user.target
